{% extends 'base.html' %}
{% block content %}
<main id="main" class="scrolled-offset">
    <div id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{% url 'main_page:home' %}">Главная</a></li>
                <li><a href="{% url 'ideology:home' %}">Идеология</a></li>
            </ol>
            <h2>Доска почёта</h2>
        </div>
    </div><!-- End Breadcrumbs -->
    <section id="team" class="team ">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up">Доска почёта</h2>
         
            </div>

            <div class="row">
                {% for deskbest in object_list %}
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member">
                        <div class="member-img">
                            <img src="{{ deskbest.photo.url }}" class="img-fluid" style="width:100%" alt="">

                        </div>
                        <div class="member-info">
                            <h4>{{ deskbest.title_name }}</h4>
                            <h4>{{ deskbest.title_job }}</h4>
                            <span>{{ deskbest.title_place }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}





            </div>

        </div>
    </section><!-- End Team Section -->
</main>
{% endblock content %}