<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        
        <div class="logo">
            <h1><a href="/">GRСApp</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            {% include './navigation.html' %}
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->